<style>
body{
background-image: url('http://res.cloudinary.com/yasir/image/upload/v1436192057/home_ve3hgh.gif');
  background-size: cover;
  font: 14px "Lucida Grande"
}
.thumbnails { display: block; overflow-x: scroll; white-space: nowrap; }
</style>
<div>
	<p><h2>Founders: Eli Harris, Griffith Freeman</h2><p>
	<div class='row'>
		<!--div class="row" float='right'-->                   
			<div class="col-sm-6 col-md-4">
				<div class="thumbnail">
					<img src="http://res.cloudinary.com/yasir/image/upload/c_scale,h_250,q_99,w_400/v1436190189/founder1_bwfup3.png" alt="Founder one">
					<div class="caption">
				  	<p>Name:Griffith Freeman<p>
				 	</div>
				</div>
			</div>
		

		<!--div class="row" float='left'-->                   
			<div class="col-sm-6 col-md-4">
				<div class="thumbnail">
					<img src="http://res.cloudinary.com/yasir/image/upload/c_scale,h_250,q_99,w_400/v1436190198/founder2_v3tu5l.jpg" alt="Founder two">
					<div class="caption">
				  	<p>Name:Eli Harris<p>
				 	</div>
				</div>
			</div>
			
	</div>
	<div>  
		<p>Club soccer was founded in 2011 by now Alums of the college Eli and Griffith. Sensing the need
		  		for a bridge between the intensity of varsity soccer and relaxed nature of intramurals, club 
		  		soccer offers both without any written contract binding you to training sessions, team workouts...
		  		We hope you join. It is definately one of the more fun things on campus.<p><br>
  </div>		
</div>
