<style>
body{
background-image: url('http://res.cloudinary.com/yasir/image/upload/v1436192057/home_ve3hgh.gif');
  background-size: cover;
}
#footer{
	position: relative;

}
h2{
	text-align: center;
	background-color:#8B6A8B;
}
#container{
	padding-top: 50px;
	padding-left: 100px;
	padding-right: 100px;
	padding-bottom: 40px;
	

}
.container2{

 left:30%;
 right:30%;

}


.thumbnails { display: block; overflow-x: scroll; white-space: nowrap; }
.highlightWhite{
	background-color: white;
}
.highlightPurple{
	color:#8B6A8B ;
}
.founderPadding{
	padding-left: 180px
}
</style>
<div id="container" class="container col-sm-12 col-md-10 col-lg-10">
	<p><h2>Founders: Eli Harris, Griffith Freeman</h2><p>
	<div class=' container 2'>
		<div class='row '>
			<!--div class="row" float='right'-->                   
				<div class="col-sm-4 col-md-4 col-lg-4 ">
					<div class="thumbnail">
						<img src="http://res.cloudinary.com/yasir/image/upload/c_scale,h_250,q_99,w_400/v1436190189/founder1_bwfup3.png" alt="Founder one">
						<div class="caption">
					  	<p class="highlightPurple">Griffith Freeman<p>
					 	</div>
					</div>
				</div>
			

			<!--div class="row" float='left'-->                   
				<div class="col-sm-4 col-md-4 col-lg-4 ">
					<div class="thumbnail">
						<img src="http://res.cloudinary.com/yasir/image/upload/c_scale,h_250,q_99,w_400/v1436190198/founder2_v3tu5l.jpg" alt="Founder two">
						<div class="caption">
					  	<p class="highlightPurple">Eli Harris<p>
					 	</div>
					</div>
				</div>
				
		</div>

	<div >  
		<p class="highlightWhite col-sm-8 col-md-8 col-lg-8">Conceived against archaic administrative codes in 2011 by Eli Harris '15 and Griffith Freeman '15, AFC has since beat the odds to become an official, funded campus athletic team that provides over 60 students with access to an organized interscholastic soccer league. Membership affords competitive and consistently-scheduled play with a negotiable time commitment--- a win-win for busy students. It's a step down from varsity but significantly more serious than intramural.<br>We are not in any way an exclusive or tiered organization. All levels of experience are welcome, with the proviso that a place in the starting lineup will always be contingent on skill level and attendance.<p><br>
  </div>
 </div>	
</div>
