<style>
div{
	font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
}
#centerdiv{
     position:absolute;
  
     top:15%;
     left:25%;
     right: 25%;
     
     margin:-30px 0 0 -30px;
}
#footer{
	position: absolute;
	margin-bottom: 0px;
}
.panel-heading {
    text-align: center;
    background-color: #8B6A8B !important;
}
</style>
<div id='centerdiv'>
<div class="panel panel-default">
	<div class='panel-heading'>Pending Member Requests({{number_of_requests}})</div>
		<div class='panel-body'>
			<div ng-repeat="request in requestList">
				<div>
			      <div>Name:{{request.fname}} {{request.lname}}</div><br>
			      <div>Position:{{request.position}}</div><br>
			      <div>Secondary Position:{{request.position2}}</div><br>
			      <div>Team:{{request.team}}</div><br>
			      <div>Sex:{{request.sex}}</div><br>
			      <div>Expreience:{{request.prevexperience}}</div><br>
			  </div>
			  <div class='pull right'>
				  <button ng-click='acceptedPlayers(request.lname)'>Accept {{request.fname}}</button>
				  <button ng-click='rejectedPlayers(request.lname)'>Reject {{request.fname}}</button>
				</div>
			  <hr>
			<div>
	</div>
</div>
</div>
</div>

<div class="panel panel-default">
	<div class='panel-heading'>Delete player</div>
		<div class='panel-body'>
			<form name='deleteForm' ng-submit="submitForm(userForm.$valid)" novalidate>
				First name:<input type="text" name="fname" ng-model="PlayerToDelete.fname" required>
				Last name:<input type="text" name="lname" ng-model="PlayerToDelete.lname"required>
				<div class='panel-footer clearfix'>
						<div class='pull right'>
							<input type='Submit' ng-disabled="deleteForm.$invalid" ng-click='deletePlayer()' value='Delete Player'>
						</div>
				</div>
		</div>
</div>
<div>
<button sty;e='align:right;' ng-click="captainLogout()" >LogOut</button>	
</div>
</div>