<style>
.clear_fix{
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 40px;
}
.thumbStyle1{
  height: 150px;
  background-color:#8B6A8B ;
  overflow-y:scroll; 
}
.thumbStyle2{
  height: 150px;
  overflow-y:scroll; 
  background-color:white ;
}
</style>

<div ng-controller="CarouselDemoCtrl" class'col-md-6' class="container">
  <div >
    <carousel interval="myInterval">
      <slide ng-repeat="slide in slides" active="slide.active">
        <img ng-src="{{slide.image}}" style="max-height:500px; margin:0 auto;">
        <!--div class="carousel-caption">
          <p>{{slide.text}}</p>
        </div-->
      </slide>
    </carousel>
  </div>
</div>


<div class='row'>
    <!--div class="row" float='right'-->                   
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail thumbStyle1" >
          <div class="caption" style="background-color:white;">
            <h4>Diversity</h4>
            <p>Club soccer is most definitely one of the most diverse student organizaton on campus. This is helped by our open arms and inclusion of people with different skill levels and soccer background</p>
          </div>
        </div>
      </div>
    

    <!--div class="row" float='left'-->                   
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail thumbStyle2">
          <div class="caption" style="background-color:#8B6A8B;">
            <h4>Learning Medium</h4>
            <p>"I learnt all about my life with a ball at my feet"<br>  -Ronaldinho<br> At club soccer we hope to do the same. Hardwork and teamwork are the core values of this organization and we intend to stick to them</p>
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-md-4">
        <div class="thumbnail thumbStyle1">
        <div style="background-color:white;">
          <div class="caption">
            <h4>Set Up</h4>
            <p>We usually have three 2 hour practice sessions every week and try to get as much games as we can(friendlies and competitive). We have in the past played teams from MIT,UMASS,Colby...</p>
          </div>
        </div>
      </div>
      </div>
  </div>

<!--div class="container" style="height:130px;width:800px;">
<div class="row">
  <div class="col-sm-6 col-md-4" style="height:130px;background-color:#8B6A8B">
    <div class="center promo">
      <h4 class="promo-caption">Diversity</h4>
        <p>CWe usually have three 2 hour practice sessions every week and try to get as much games as we can(friendlies and competitive). We have in the past played teams from MIT,UMASS,Colby...</p>
        </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4" style="height:130px;background-color:white">
    <div class="center promo">
      <h4 class="promo-caption">Set Up</h4>
      <p class="light center">We usually have three 2 hour practice sessions every week and try to get as much games as we can(friendlies and competitive). We have in the past played teams from MIT,UMASS,Colby... </p>
    </div>
  </div>

  <div class="col-sm-6 col-md-4" style="height:130px;background-color:#8B6A8B">
      <div class="center promo">
        <h4 class="promo-caption">Learn</h4>
        <p class="light center">'I learnt all about my life witha ball at my feet'<br>  -Ronaldinho<br> At club soccer we hope to do the same</p>
      </div>
 </div>
  
</div>
</div>

<div style="background-color:white;">
  <h1 style="text-align:center"> I LEARNT ALL ABOUT LIFE<br> WITH A BALL AT MY FEET</h1>
  <h3 style="text-align:right">-Ronaldinho</h3>
</div-->
