<style>
.form-group.required .control-label:after { 
   content:"*";
   color:red;
}
.panel-heading {
    text-align: center;
    background-color: #8B6A8B !important;
}
#footer{
  position: relative;
}
.centerdiv{
  padding-top: 30px;
}
p{
  text-align: left;
}
 .css-form input.ng-invalid.ng-touched {
    background-color: red;
  }

  .css-form input.ng-valid.ng-touched {
    background-color: red;
  }
</style>


<div class="centerdiv">
<div>
  <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
  <!--button class='btn btn-default' ng-click="addAlert()">Add Alert</button-->
</div>

<div class="panel panel-default col-sm-12 col-md-12 col-lg-12">
<div class='panel-heading'>MEMBERSHIP REQUEST FORM</div>
<div class='panel-body'>

<form class"form-horizontal" role='form' name="userForm"  ng-submit="submitForm(userForm.$valid)" novalidate>
  <div class='form-group '>
    <label for="fname" class="col-sm-2 control-label">First Name* :</label>
    <div class="col-sm-10 ">
      <input type="text" name="fname" size='50' ng-model="user.fname"  ng-minlength="2" ng-maxlength="20"required>
    </div>
      <p ng-show="userForm.fname.$invalid && !userForm.fname.$pristine" class="help-block">At least 2 characters, at most 20</p>
  </div><br><br>

  <div class='form-group '>
    <label for="lname" class="col-sm-2 control-label">Last Name* :</label>
    <div class="col-sm-10">
      <input type="text" name="lname" size='50' ng-model="user.lname"  ng-minlength="2" ng-maxlength="20"required>
    </div>
     <p ng-show="userForm.lname.$invalid && !userForm.lname.$pristine" class="help-block">At least 2 characters, at most 20</p>
  </div><br>

  <div class='form-group '>
    <label for="classyear" class="col-sm-2 control-label">Class Year* :</label>
    <div class="col-sm-10"> 
      <input type="text" name="classyear"  size='50' ng-model="user.classyear" required>
    </div>
      <p ng-show="userForm.classyear.$invalid && !userForm.classyear.$pristine" class="help-block">Your ClassYear is required.</p>
  </div><br>


  <div class='form-group'>
   <label for="sex" class="col-sm-2 control-label">Sex :</label>
    <div class="col-sm-10">
      <select ng-model='user.sex' name="sex" >
        <option value='Male'>Male</option>
        <option value='Female'>Female</option>
        <option value='Other'>Other</option>
      </select>
    </div>
  </div><br>

  <div class='form-group'>
    <label for="hobbies" class="col-sm-2 control-label">Hobbies :</label>
    <div class="col-sm-10">
      <input type="text" name="hobbies"  size='50' ng-model="user.hobbies">
    </div>
  </div><br>

  <div class='form-group'>
    <label for="position" class="col-sm-2 control-label">Preferred Position :</label>
    <div class="col-sm-10">
      <select ng-model='user.position' name="position">
        <option value='GK'>Goal keeper</option>
        <option value='CB'>Center Back</option>
        <option value='RB'>Right Back</option>
        <option value='LB'>Left Back</option>
        <option value='CM'>Center mid</option>
        <option value='DM'>Defensive Mid</option>
        <option value='AM'>Attacking Mid</option>
        <option value='WF'>Wing Foward</option>
        <option value='CF'>Center Foward</option>
        <option value='UT'>Utility Player</option>
      </select>
    </div>
  </div><br>

  <div class='form-group'>
    <label for="position" class="col-sm-2 control-label">Alternate Position:</label>
    <div class="col-sm-10">
      <select ng-model='user.position2' name="position">
        <option value='GK'>Goal keeper</option>
        <option value='CB'>Center Back</option>
        <option value='RB'>Right Back</option>
        <option value='LB'>Left Back</option>
        <option value='CM'>Center mid</option>
        <option value='DM'>Defensive Mid</option>
        <option value='AM'>Attacking Mid</option>
        <option value='WF'>Wing Foward</option>
        <option value='CF'>Center Foward</option>
        <option value='UT'>Utility Player</option>
      </select>
    </div>
  </div><br>


  <div class='form-group ' >
     <label for="team" class="col-sm-2 control-label">Team* :</label>
    <div class="col-sm-10">
      <select ng-model='user.team' name='team' required>
        <option value='men'>Men</option>
        <option value='women'>Women</option>
      </select>
    </div>
     <p ng-show="userForm.team.$invalid && !userForm.team.$pristine" class="help-block">You have to specify a team.</p>
  </div><br>


  <div class='form-group'>
      <label for="previousexperience?" class="col-sm-2 control-label">previous experience? </label>
      <div class="col-sm-10">
        <input type="checkbox" name="previousexperience?" value="yes" ng-model="experienceyes"> 
      </div>
  </div><br>

    <div ng-show="experienceyes" ng-hide="experienceno">
          <form>
          <br>
           <label for="experience" class="col-sm-3 control-label">Elaborate please :</label>
            <div class="col-sm-9">
                <input type="text" name="experience" size='50'ng-model="user.prevexperience"  ng-minlength="2" ng-maxlength="150">
                <br>
            </div>
            <!--input type="submit" value="Send Info" -->
          </form>
      </div><br><br>
    <br><br>  
  <div class='panel-footer clearfix panel-heading'>
    <div style="align:center">
      <input type='Submit' ng-click='postInfo()' ng-disabled="userForm.$invalid" value='Submit info'>
    </div>
  </div>
  <!--input type="submit" value="Send Info" ng-hide='experienceyes' ng-show='experienceno'-->
</form>
</div>
</div>
</div>