<style>
body{
background-image: url('http://res.cloudinary.com/yasir/image/upload/v1436192369/men2_qqrtbq.jpg');
  background-size: cover;
  
}
#footer{
  position: absolute;
}
#div{
  padding-top: 50px
}
.panel-custom{
  background-color: white;
}
p{
  color: black;
  text-align:center;
  font-size: 14px
}
h3{
  color: black;
  background-color: #8B6A8B;
  text-align:center;
}
</style>
<!--div >
  
  <span>
        <img src="../images/men.jpg" height="500" width="600">
    </span>
  <div ng-repeat="player in players">
      <h7 class="left"><a href="#profile/{{player.fname}}">{{player.fname}} {{player.lname}}</h7>
  </div>
</div-->
<div>
  <div class="panel panel-default panel-custom col-sm-12 col-md-12 col-lg-12">
    <h3>2015-16 MEN'S CLUB SOCCER ROSTER</h3>
      <span>
        <p>Captains:Patrick Yang, Chris Rigas and Tyler Baldwin</p>
      </span>
      <table style="align:center"class="table table-hover col-sm-12 col-md-12 col-lg-12">
        <thead>
          <tr>
            <th>Player Name</th>
            <th>Preferred Position</th>
            <th>Alternate Position</th>
          </tr>
        </thead>
        <tbody >
          <tr ng-repeat="player in players"> 
            <td><a href="#profile/{{player.fname}}">{{player.fname}} {{player.lname}}</td>
            <td>{{player.position}}</td>
            <td>{{player.position2}}</td>
          </tr>
        </tbody>
      </table>
  </div>
</div>