<style>
body{
background-image: url('../../images/men2.jpg');
  background-size: cover;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-opacity: 0.4
}
h2{
  color: white;
}
</style>
<div><p></p></div>
<div>
  <p><h2 >Captain: Patrick Yang, Chris Rigas and Tyler Baldwin</h2><p>
  <!--span>
        <img src="../images/men.jpg" height="500" width="600">
    </span-->
  <div ng-repeat="player in players">
      <h7 class="left"><a href="#profile/{{player.fname}}">{{player.fname}} {{player.lname}}</h7>
  </div>
  <d
</div>
