 .css-form input.ng-invalid.ng-touched {
    background-color: #FA787E;
  }

  .css-form input.ng-valid.ng-touched {
    background-color: #78FA89;
  }
.footerText{
  font-size: 20px;
  text-align: left;
}
.footerCopywright{
  text-align: center;
}
body {
  background-image: url('http://res.cloudinary.com/yasir/image/upload/v1436192385/homeimageBlur_gm8ku7.jpg');
  background-size: cover;
  font-family: "ff-tisa-sans-web-pro",sans-serif;
  font-size: 12px
}
h1 {text-align:center;}
h3{text-align: right}
p {text-align:center;}
h4{text-align: center;}

.navbar .nav > li > a {
    color:black;
}
.navbar-custom {
    font-size: 15px;
    color: white;
    background-color: #8B6A8B;
}
.container {
  padding-left: 0;
  padding-right: 0;
}
/*rgba(139,106,139)==Navbar colour*/
/*.overlay{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.2);
}*/
a {
  color: purple;
}

li {
    display: inline;
}
#navbar-title{
font-size: 25px;
color:white;
}

#navbar-items{
  float:right;
}
 #footer {position:relative;
    
    background-color: rgba(0,0,0,0.9);
    bottom:0;
    left:0px;
    right:0px;
    margin-bottom:0px;
  }
/*.imageContainer {
	
    position: relative;
    overflow: hidden;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
} 
.imageContainer img {
	size: 100%;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    opacity: 0.1;
}*/
.right{text-align: right}
.left{text-align: left}